* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}